:root{
    --bege-claro: #ffefdd;
    --bege: hsl(30, 85%, 85%);
    --bege-escuro: #E59853;
    --marrom-leve: #C76A10;
    --marrom: #A65300;
}

.u-tema-claro-padrao{
    background-color: var(--bege-claro);
    color: var(--marrom-leve);
    border-color: var(--marrom-leve);
}

.u-tema-claro-alt{
    background-color: var(--bege-claro);
    color: var(--marrom);
    border-color: var(--marrom);
}

.u-tema-medio-padrao{
    background-color: var(--bege);
    color: var(--marrom);
    border-color: var(--marrom);
}

.u-tema-medio-alt{
    background-color: var(--bege);
    color: var(--bege-escuro);
    border-color: var(--bege-escuro);
}

.u-tema-escuro-padrao{
    background-color: var(--bege-escuro);
    color: var(--bege-claro);
    border-color: var(--bege-claro);
}

.u-tema-escuro-alt{
    background-color: var(--bege-escuro);
    color: var(--marrom);
    border-color: var(--marrom);
}

.u-tema-destaque{
    background-color: var(--marrom);
    color: var(--bege-claro);
    border-color: var(--bege-claro);
}
