body{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1440px;
    padding: 12px;
}

.cabecalho-principal{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 12px 16px;
}

.cabecalho-principal img{
    height: 65px;
    width: auto;
    display: block;
}

.cabecalho-principal__btn-editar-mobile{
    display: none
}

.layout-app{
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 24px;
    box-sizing: border-box;
    justify-content: center;
}

.painel-metricas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    font-weight: 700;
    border-radius: 24px;
}

.painel-metricas__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    text-align: center;
    border-radius: 24px;
    padding: 12px 0px;
    cursor: pointer;
}

.painel-metricas__titulo{
    margin: 4px
}

.barra-acoes{
    display: flex;
    justify-content: space-between;
    padding: 20px 36px;
    border-radius: 24px;
    gap: 8px;
}

.barra-acoes__campo-pesquisa{
    width: 100%;
    border: solid;
    border-radius: 24px;
    border-width: 2px;
    background: url('../img/lupa.svg') no-repeat 8px;
    padding: 12px 0px 12px 40px;
}

input::placeholder{
    color: inherit;
}

.barra-acoes__campo-pesquisa:focus, .barra-acoes__campo-pesquisa:focus-visible{
    outline: none;
}

.barra-acoes__btn-novo{
    border: none;
    border-radius: 24px;
    font-weight: 700;
    transition: 0.3s;
    padding: 12px 48px;
}

.barra-acoes__btn-novo:hover{
    cursor: pointer;
    background-color: var(--bege-escuro);
    color: var(--bege-claro);
}

.barra-acoes__btn-novo:focus,
.barra-acoes__btn-novo:focus-visible{
    outline: solid 2.5px;
}

.rodape-principal{
    display: flex;
    justify-content: center;
    padding: 28px 0px;
    border-radius: 24px;
}
