@media (max-width: 480px) {
    body{
        min-width: 330px;
        gap: 12px;
    }
    .cabecalho-principal{
        display: flex;
        padding: 8px 14px;
        justify-content: space-between;
    }  
    .cabecalho-principal img{
        height: 48px;
    }

    .cabecalho-principal .cabecalho-principal__btn-editar-mobile{
        display: block;
        object-fit: scale-down;
        border-radius: 8px;
        padding: 4px 4px;
    }

    .layout-app .painel-variaveis{
        display: none;
    }

    .layout-app{
        gap:12px;
    }

    .layout-app .barra-acoes{
        padding: 12px;
    }

    .layout-app .barra-acoes__btn-novo{
    padding: 12px 12px;
    }

    .layout-app .lista-cards{
       grid-template-columns:repeat(auto-fit, minmax(250px, 1fr)); 
    }

    .modal .modal__linha-dupla{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .modal{
        width: calc(100vw - 24px);
        max-width: 420px;
    }

    .modal .modal__corpo.modal__corpo--variaveis{
        gap: 12px;
        padding: 12px;
    }

    .modal .modal__campo-configuracao.modal__campo-configuracao--variaveis{
        width: 100%;
    }

    .modal .modal__campo-configuracao.modal__campo-configuracao--variaveis input{
        width: 100%;
        box-sizing: border-box;
    }

    .modal__grade-valores{
        grid-template-columns: repeat(2, 1fr);
    }

    .modal__acoes-visualizacao{
        flex-direction: column;
        align-items: stretch;
    }

    .modal__valor-cobrar{
        font-size: 28px;
    }
}
