:root{
    --bege-claro: #FFEBD4;
    --bege: #F4D3B5;
    --bege-escuro: #E59853;
    --marrom-leve: #C76A10;
    --marrom: #A65300;
}




.bg-bege-claro-padrao{
    background-color: var(--bege-claro);
    color: var(--marrom-leve);
    border-color: var(--marrom-leve);
}

.bg-bege-claro-alt{
    background-color: var(--bege-claro);
    color: var(--marrom);
    border-color: var(--marrom);
}



.bg-bege-padrao{
    background-color: var(--bege);
    color: var(--marrom);
    border-color: var(--marrom);
}

.bg-bege-alt{
    background-color: var(--bege);
    color: var(--bege-escuro);
    border-color: var(--bege-escuro);
}



.bg-bege-escuro-padrao{
    background-color: var(--bege-escuro);
    color: var(--bege-claro);
    border-color: var(--bege-claro);
}

.bg-bege-escuro-alt{
    background-color: var(--bege-escuro);
    color: var(--marrom);
    border-color: var(--marrom);
}



.bg-marrom-leve{
    background-color: var(--marrom-leve);
    color: var(--bege-claro);
    border-color: var(--bege-claro);
}



.bg-marrom{
    background-color: var(--marrom);
    color: var(--bege-claro);
    border-color: var(--bege-claro);
}

