
.container .lista{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 36px;    
    border-radius: 24px;
    padding: 24px 36px;
}

.container .recentes{    
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(280px, 0.25fr));
    justify-content: center;
    gap: 24px;
    list-style-type: none;
}

.container .novoBordado{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 24px;
    border-radius: 24px;
    transition: 0.4s ease, box-shadow 0.4s ease;
}

.container .novoBordado:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    z-index: 1;  
}

.container .novoBordado .headBordado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 12px 16px 12px 16px;
    border-radius: 24px 24px 0px 0px;
}

.container .novoBordado .editIcon{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
}

.container .novoBordado .editIcon:hover{
    background-color: var(--bege);
}

.container .novoBordado .bodyBordado{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 16px 0px 16px;
}

.divLine{
    border: none;
    background-color: var(--marrom-leve);
    height: 1px;
}

.container .novoBordado .boxData{
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.container .novoBordado .boxPontos{
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.container .novoBordado .boxValorUnd{
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.container .novoBordado .bold{
    font-weight: 700;
}

.loadMore:hover{
    cursor: pointer;
    color: var(--marrom);
}