#modalNovoOrcamento{
    outline: none;
    border: none;
    border-radius: 24px;
    padding: 0px;
    box-sizing: border-box;
    width: 520px;
}

#modalNovoOrcamento .headerModal{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
}

#modalNovoOrcamento .fechar-modal{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

#modalNovoOrcamento .fechar-modal:focus{
    outline: none;
}

.fa-solid.fa-xmark{
    font-size: 32px;
}

#modalNovoOrcamento .bodyModal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 12px 16px 12px;
}

#modalNovoOrcamento .nomeMatriz{
    display: flex;
    flex-direction: column;
}

#modalNovoOrcamento .quantidades{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

#modalNovoOrcamento .qtdPontos{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#modalNovoOrcamento input{
    border-radius: 4px;
    padding-left: 8px;
    padding-block: 4px;
    color: var(--marrom-leve);
    background: none;
    border-color: var(--marrom-leve);
    border: solid;
    border-width: 1px;
}

#modalNovoOrcamento input:focus{
    outline: none;
}

#modalNovoOrcamento .qtdBordados{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#modalNovoOrcamento .variable-group{    
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#modalNovoOrcamento .urgente,
#modalNovoOrcamento .matriz-field,
#modalNovoOrcamento .mat-cliente{
    padding: 4px 0px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

#modalNovoOrcamento .toggle{
    width: 42px;
    height: 24px;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
}

#modalNovoOrcamento .toggle::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    left: 3px;
    top: 3px;
    width: 18px;
    height: 18px;
    background-color: var(--bege-claro);
    transition: left 0.3s;
}

#modalNovoOrcamento #calcular{
    width: fit-content;
    background: none;
    padding: 8px 12px;
    border: solid;
    border-width: 2px;
    border-radius: 12px;
    font-weight: 700;
    align-self: flex-end;
}
#modalNovoOrcamento #calcular:focus{
    outline: solid;
    outline-width: 2px;
    outline-color: var(--marrom);
}   

#modalNovoOrcamento #salvarOrcamento{
    display: none;
}

